* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    background-color: black;
}

.menu {
  width: 100vw;
  height: 100vh;
  background-image: url('./Data/Imagens/GUI/StartScreen/startScreen.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.inner-menu {
    width: 22%;
    height: 100%;
    margin-left: 200px;
    background-color: rgba(130, 77, 27);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    border-left: 5px solid #3c4453;
    border-right: 5px solid #3c4453;
}

.canvas {
    display: none;
    width: 100vw;
    height: 100vh;
}

button {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 40px;
    text-align: right;
}

button:hover {
    cursor: pointer;
}

.buttons-div {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialogue-div {
    display: none;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 21%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 29px;
    right: 171px;
    border: 2px ridge  #9de1ee;
}

.dialogue-div:hover {
    cursor: pointer;
}

.dialogue-div p {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    width: 65%;
    height: 30%;
    text-align: center;
    position: absolute;
    right: 0px;
}

#npc-portrait {
    transform: scale(0.5);
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    bottom: -128px;
    left: 0px;
    right: 0px;
}

.dialogue-div h1 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 5px;
    border-radius: 2%;
    bottom: 120px;
    left: 370px;
    color: white;
    border: 2px ridge  #9de1ee;
}

#click-icon {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.user-gui {
    display: none;
    width: 250px;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px ridge  #9de1ee;
    position: absolute;
    top: 30px;
    left: 180px;
}

.user-avatar {
    width: 75px;
    height: 65px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px ridge  #9de1ee;
    position: absolute;
    left: 5px;
    top: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-avatar img {
    background-color: rgba(0, 0, 0, 0);
    transform: scale(1.1);
    position: absolute
}

.user-name {
    width: 70px;
    height: 20px;
    border: 2px ridge  #9de1ee;
    position: absolute;
    top: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 12px;
    text-align: center;
    left: 90px;
}

.user-level {
    width: 40px;
    height: 15px;
    border: 2px ridge  #9de1ee;
    position: absolute;
    left: 90px;
    top: 53px;
    color: white;
    font-size: 10px;
    text-align: center;
}

.user-health {
    width: 100px;
    height: 10px;
    border: 2px ridge  #9de1ee;
    position: absolute;
    background-color: red;
    top: 32px;
    left: 90px;
}

.user-utils {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    width: 125px;
    height: 125px;
    display: none;
    justify-content: center;
    align-items: center;
    top: 30px;
    right: 190px;
}

.user-utils img {
    background-color: rgba(0, 0, 0, 1);
    border-radius: 50%;
    padding: 1px;
    border: 2px ridge #9de1ee;
    transform: scale(1.2);
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.user-utils img:hover {
    cursor: pointer;
}

.player-options {
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
}

.player-options:hover {
    color: blue;
}

#player-options-container1 {
    display: none;
    text-align: left;
    margin-left: 50px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0);
}

#player-options-container2 {
    display: none;
    text-align: left;
    margin-left: 50px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0);
}

#player-options-container3 {
    display: none;
    text-align: left;
    margin-left: 50px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0);
}

#player-options-container-last {
    display: none;
    text-align: left;
    margin-left: 50px;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0);
}

.npc-dialogue {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.npc-dialogue2 {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.npc-dialogue3 {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.npc-last-dialogue {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.npc-answer {
    display: none;
    width: 10%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.npc-answer2 {
    display: none;
    width: 10%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.npc-answer3 {
    display: none;
    width: 10%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.inventory {
    display: none;
    flex-direction: row;
    gap: 2px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 80%;
    background-color: rgba(0, 0, 0, 1);
    border: 2px ridge  #9de1ee;
    position: absolute;
}

.inventory-item {
    width: 10%;
    height: 10%;
    background-color: rgba(0, 0, 0, 1);
    border: 2px ridge  #9de1ee;
}

.inventory-header img {
    margin-left: 600px;
    border: 2px ridge  #9de1ee;
}

.inventory-header img:hover {
    cursor: pointer;
}

#overlapping-div {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    pointer-events: none;
}